.inner > .add {
    display: none;
    position: absolute;
    top: -1000000px;
    visibility: hidden
}

.fdad, .adsbygoogle {
    display: none;
    position: absolute;
    top: -1000000px;
    visibility: hidden
}